<%- include('./partials/_header.ejs', { title: "Home", req: req }) %>
<body>
	<div class="parent" style="">
        <div class="container">
            <p class="title01" style="text-align: center;">This is a title</p>
        </div>
    </div>
</body>