<%- include('./partials/_header.ejs', { title: "Home", req: req }) %>
<body>
	<div class="parent">
        <container class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <h1>Hi, I'm <span class="name">Rafael</span></h1>
                        <h2>Web Developer</h2>
                    </div>
                </div>
            </div>
    </div>
</body>